*{  box-sizing: border-box;}
body{
    background-color: gray;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.Everything, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoHolder h5{
    font-size: 1em;
}
.space{ padding: 6px;}
#Qtn{
    text-shadow: 2px 2px 2px red;
    text-align: center;
}
#Stn{
    font-size: 1.2em;
    text-align: center;
    }
    .SeeAmeal{
        text-align: center;
        padding: 2em;
    }
    #btn{
        border: none;
        background-color: black;
        box-shadow:2px 2px 2px red;
        color: #fff;
        width: 8em;
        height: 3em;
        font-size: 1.2em;
    }
    #btn:hover{
        color: black;
        background-color: red;
        box-shadow:2px 2px 2px white;
    }
    section{
        padding: 2em;
        text-align: center;
    }
    .index-img img, iframe{
        height: 30em;
        width: 40em;
        border-radius: 5px;
    }
    .videHolder h5{  font-size: 2em;}
    .instruction-hold p{
        font-size: 1em;
    line-height: 1.5em;}
    .cooder{
        text-align: center;
    }
@media (max-width: 400px) {
    #Stn{
        font-size: 0.8em;
        text-align-last: center;
        }
        .space{    padding: 4px;}
        .SeeAmeal{  padding: 1em;}
        #btn{ font-size: 1em;}
        section{
            padding: 2em;
            justify-content: space-between;
            display: block;
            align-items: center;
        }
        .index-img,  .videHolder{   text-align: center;}
        .index-img img,  iframe{
            width: 16em;
            height: 16em;
        }
        .instruction-hold p{
            width: 16.5em;
        }
        .cooder{
            font-size: 0.7em;
        }
}